.rightSideHome{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    border: 1px solid;
}

.imageDivRightSide{
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.imageRightSideProfile{
    width: 100%;
    height: 45px;
    border-radius: 100%;
}